body{
    margin: 100px 40px auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(71, 66, 66);
}
#instruction
{
    display: inline-block;
    border: 3px solid black;
    margin-left: 1rem;
    height: 500px;
    width: 500px;
    background-color: white;
    text-align: center;
}
#instruction h1,p
{
    margin: 1rem;
}
#ball-container
{
    background-color: white;
    border: 3px solid black;
    height: 500px;
    width: 500px;
    display: inline-block;
}
#ball-container button
{
    padding: 3px;
    margin: 0.5rem;
}
#ball
{
    height: 100px;
    width: 100px;
    background-color: cyan;
    border-radius: 50px;
}